footer {
  background-color: rgb(0, 183, 255);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nav-link {
  color: blue;
}

.nav-link:hover {
  color: red;
}
.nav-item:active {
  color: orangered;
}
.navbar-brand:hover {
  color: chartreuse;
}
